:root{
  --maincolor: #ffd500;
}

header, footer {
  background-color: var(--maincolor);
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
}

header {
  width: inherit;
  position: sticky;
  top: 0;
  z-index: 1;
}

header nav {
  display: flex;
  width: inherit;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 1.3em;
  padding-top: 1.3em;
  padding-left: 6em;
  background-color: inherit;
  position: sticky;
  top: 0;
}

main {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.firstpicture{
  width: 70vw;
  margin-bottom: 3em;
  border-radius: 0.625rem;
}

h1, h2, h3, p{
  color: #111;                       
}

p{
  font-size: 1em;
  line-height: 1.5em;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center; /**/
  width: 75vw;
}

main>h2 {
  font-size: 1.7rem;
  font-weight: 500;
}

main>p{
  font-size: 1.5rem;
  text-align: center; /**/
  font-weight: 400;
  width: 60%; /**/
}

#accessibility-text  > p, #accessibility-text > h1{
  width: 70vw;
}

#accessibility-text p a {
  color: blue;
}

#accessibility-text p, #accesibility-text a{
  font-size: 1.1em;
} 

header nav button, header nav > a:not(:first-child) {
  padding: 0.6em;
  background-color: #111;
  color: white;
  border-radius: 0.4rem;
  border-width: 0.1rem;
  border-color: #000;
  font-size: 1.1rem;
  font-weight: 600;
  transition: box-shadow 0.3s, background-color 0.3s, color 0.3s;
}

nav > a:not(:first-child) {
  position: absolute;
  right: 6em;
  text-decoration: none; /* Fjerner understrek på linken */
  color: inherit; /* Gjør at linken arver fargen til knappen */
  padding: 0.2em; /* Flytter padding til <a> for å sikre at klikkområdet fyller knappen */
}

nav img {
  height: 3em;
  width: 7.5em;
  margin-right: 2em;
}

table {
  margin-top: 1em;
  width: max(50vw);
  border-collapse: collapse;
  border: solid black 0.2rem;
  margin-bottom: 4rem;  
  font-size: 1.5rem;
  text-align: left;
}

tr {
  border: solid black 0.2rem;
}

th {
  border: solid black 0.2rem;
}

th, td {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  font-weight: 550;  
  text-align: center;
}

button:focus, button:hover, nav>a:not(:first-child):hover {
  background-color: white;
  color: #111;
  border: solid #111 0.1rem;
  cursor: pointer;
}

nav button:focus-within + .sub-menu, nav > button:focus + .sub-menu{
  /* Denne gjør at sub-menyen først "vises" (altså blir den synlig og skriften vil synes) når man samhandler med den
  Hadde det originalt satt med display:none, eller visibility:hidden, men da ble det ikke tilrettelagt for tabindex */
  opacity: 1;
  font-size: inherit;
  transition: 0.1s;
}
.sub-menu:focus-within { 
  /* Splittet denne fra de over siden denne ikke skal ha en transition-timer, for da ser vil menyen "reåpne" seg når 
  man trykker på et av lenkene i sub-menyen og hindre nettsideovergangen */
  opacity: 1;
  font-size: inherit;
}

table {
  margin-top: 1em;
  width: max(60vw);
  border-collapse: collapse;
  margin-bottom: 4rem;  
  font-size: 1.3rem;
  text-align: left;
}

tr, th {
  border: solid #111 0.1rem;
}

th, td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-weight: 500;  
  text-align: center; /**/
}

main section{
  width: max(60vw);
  margin-bottom: 2em;
}

.studieår ul, .flere-studier-section ul {
  list-style: none;
  padding-left: 0.5rem;
}

.studieår ul li {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  font-size: 0.95rem;
  align-items: center;
  margin-bottom: 0.9rem; /* Mellomrom mellom elementene */
}

.studieår ul li strong {
  font-size: 1rem;
  margin-top: 0.8rem;
  color: #806b00;
}

.studieår ul li span {
  white-space: nowrap;
}
.studieår section {
  margin-bottom: 1.5rem;
  padding: 1rem;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.ikoner {
  display: inline block;
  gap: 1rem;
  font-size: 0.85rem;
  color: #666;
  margin-bottom: 1rem;
}


.flere-studier-section ul li{
  margin-bottom: 1.3em;
  margin-top: 0.5em;
  font-size: 1em;
}
.flere-studier-section ul{
  padding: 0;
}

/*negativ z-index for å unngå overlap problemer med header.*/
.studie-container {
  z-index: -10;
  position: relative;
}

.studie-container h4{
  margin: 0;
}

/*Posisjon og implementasjon av pilene på slutten av studie anbefalingene*/
.studie-container::after {
  content: '\203A';
  font-size: 2em;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-70%);
}

.studie-container > ul li{
  display: inline-block;
}

/*---------*/
/*disse er for å style listen under studie anbefalingene*/
.studie-container > ul li:not(:last-child){
  padding-right: 1em;
  border-right: 1px solid #222;
}
.studie-container > ul li:not(:first-child){
  padding-left: 1em;
}
/*---------*/

.historier-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.historier-container p{
  font-weight: 500;
}

.historier-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.historier-container > div{
  padding: 2em;
  background-color: var(--maincolor);
}

.historier-container > div h3{
  text-decoration: underline;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center; /**/
  padding-top: 3em;
  padding-bottom: 2rem;
}

footer>section,
footer>div{
  width: 75vw;
}

footer>section{
  display: flex;
  align-items: center; /**/
  justify-content: space-between;
  margin-bottom: 1.25rem;
  border-bottom: 2px solid #000;
  padding-bottom: 3rem;
}

section>button{
  padding: 0.8em;
  background-color: #111;
  color: white;
  border-radius: 0.6rem;
  border-width: 0.1rem;
  border-color: #111;
  font-size: 1rem;
  font-weight: 600;
  transition: box-shadow 0.3s;
  transition: background-color 0.3s;
  transition: color 0.3s;
}

section>button:hover{
  box-shadow: 0 0 0.5rem #111; 
  background-color: white;
  color: #111;
  cursor: pointer;
}

footer>section>h2{
  margin: 0;
  font-weight: 600;
  font-size: 2rem;
}

footer>div, footer>ul{
  display: flex; /**/
  flex-direction: row; /**/
  justify-content: space-between; /**/
}

footer address>h3{
  margin: 0;
  font-weight: 600;
  margin-bottom: 1rem;
}

footer ul{
  padding: 0;
  margin-top: 0;
}

footer address span{
  font-weight: 400;
}

footer>ul{
  width: 50vw;
}

footer li{
  font-weight: 600;
  margin-bottom: 1rem;
  list-style-type: none;
  align-items: center; /**/
}

footer>ul>li {
  display: flex; /**/
  align-items: center; /**/
}

footer>ul>li>img {
  width: 2rem;
  margin-right: 0.5rem;
}

main a, footer a{
  color: #111;
  transition: text-decoration 0.4s;
  text-decoration: none;
}
main a:hover h4{
  text-decoration: underline;
  color: #5f5f70;
}

main a:hover, footer a:hover{
  border-bottom: 0.15rem solid #111;
}

.sub-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  opacity: 0;
  font-size: 0;
  position: absolute;
  background-color: var(--maincolor);
  border-bottom: 1px solid #111;
  border-top: 1px solid #111;
  padding: 0;
  padding-left: 16%;
  width: 84%; /* Er 84% siden padding-left tar opp plassen for de resterende 14% */
  margin: 0;
  left: 0em;
  top: 5.6em;
  z-index: 2;
}
.sub-menu li {
  list-style-type: none;
  cursor: pointer;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
}
.sub-menu li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  padding: 1em;
  box-sizing: border-box;
  text-align: center;
  z-index: 2;
}
.sub-menu li:hover {
  background-color: black;
  color: var(--maincolor);
  transition: 0.5s;
}

@media(max-width: 1500px){
  footer>div{
    gap: 5vw;
  }
}

@media (max-width: 1200px) {

  .firstpicture{
    width: 80vw;
    justify-content: center;
  }
  
  h1{
    font-size: 2.2rem;
    align-items: center;
  }

  h2{
    font-size: 1.7rem;
  }

  main>table{
    font-size: 1.3rem;
    width: 80vw;
  }

  section p{
    font-size: 1.1rem;
  }
  
  main>section{
    width: 70vw; 
  }

  /*lar bilde collapse under teksten, slik at teksten får nok plass på siden, når den blir mindre.*/
  .historier-container{
    grid-template-columns: 1fr;
  }

  .historier-container h3, p {
    font-size: 1.3em;
  }

  footer button{
    margin: 0;
    margin-top: 2rem;
  }

  footer> section, div{
    max-width: 60rem;
    justify-content: space-between;
  }
  footer section{
    flex-direction: column;
  }
  footer> section> h3{
    text-align: center;
  }

  footer>ul>li {
    margin-right: 2rem;
  }
  footer> ul{
    flex-direction: column;
    align-items: center;
  }
  footer nav {
    margin-left: 0;
  }
  footer div{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  footer address, footer nav, aside, ul{
    padding: 0;
  }
  footer>div{
    gap: 0;
  }

}

@media (max-width: 768px) {
  
  nav > button, nav > a:not(:first-child) {
    margin-left: 1em;
  }
  nav > a:not(:first-child) {
    right: 3em;
  }
  header nav {
    padding-left: 1em;
  }

  table{
    font-size: 1rem;
    width: 40%;
  }

  main>h1 {
    font-size: 1.8rem; 
  }
  main>h2{
    font-size: 1.4rem;
  }

  main>h3, main>p, 
  main td, main th{
    font-size: 1.2rem;
  }

  main>section{
    width: 87vw; 
  }
  main>section>section{
    width: 80vw;
  }

  .studie-container > ul li{
    font-size: 0.8rem;
  }

  /*fjerner pilen på slutten av studie anbefalingene, slik at det er mer plass for tekst*/
  .studie-container::after {
    content: '';
  }

}